<nav
  class="navbar px-1 px-md-3 px-lg-5 fixed-top navbar-expand-lg navbar-dark bg-primary"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GCS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Home
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">All Tools</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#what">What</a></li>
            <li><a class="dropdown-item" href="#how">How</a></li>
            <li><a class="dropdown-item" href="#why">Why</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown mx-lg-3">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tools
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/all-tools">All Tools</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/products/monitor-of-monitors"
                >Monitor of Monitors</a
              >
            </li>
            <li><a class="dropdown-item" href="#">OctoBus</a></li>
            <li><a class="dropdown-item" href="#">Prometheus</a></li>
            <li>
              <a class="dropdown-item" href="/products/synnamon/">SynnaMon</a>
            </li>
            <li><a class="dropdown-item" href="#">Panda</a></li>
            <li><a class="dropdown-item" href="#">Cerebro</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
